.formulaire{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-between;
}

input{
    margin-top: 10px;
}
.label_file_upload,input[type=submit] {
    display: flex;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

label{
    margin-top: 10px;
    cursor: pointer;
}

