
input[type=file]{
    display: none;
}

.label_file_upload,input[type=submit] {
    display: flex;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    justify-content: center;

}

.hide{
    display: none !important;
}

.right_display{
    display: flex;
    justify-content: flex-end;
}

.label_type{
    font-weight: bold;
}
#document_container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#doc_title{
    display: flex;
    justify-content: center;
    margin: 1em;
}

.div_file_container{
    display: flex;
    flex-direction: column;
}
.input_upload_div{
    display: flex;
}

.right_display > .supprimer{
    margin-left: 1em;
}
.cancel,.supprimer,.voir{
    height: 2em;
    width: 2em;
}

table{
    border-collapse:separate;
    border-spacing: 1em 1em;
}

.errorMsg{
    display: flex;
    text-align: center;
    justify-content: center;
    visibility: visible !important;
    margin: 1em 0;
}

#offres_container{
    display: flex;
    justify-content: center;
}

.offre_ligne{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.offre_ligne > .label_type{
    margin-right: 2em;
}

a.offre_ligne{
    border: black solid 1px;
    padding: 1em;
}



a.offre_ligne > p {
    font-size: 1.5em;
    margin-right: 1em;
    color: black;
}

a.offre_ligne:hover{
    opacity: 50%;
}
