.info_table {
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.profile_container > h1{
    text-align: center;
    margin: 1em;
}

.profile_container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.info_table td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr.info_ligne:last-child td{
    border: none; !important;
}

.info_nom{
    font-weight: bold;
    text-transform: capitalize;
}

.info_ligne > td{
    text-align: left;
    font-size: 1.5em;
}

.info_nom:after{
    content: "==>";
    float:right;
}