.shadow-box{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.checkbox{
    display: flex;
    flex-direction: row;
    text-align: center;
}

#user_table thead th{
    text-align: center;
}

#user_table thead th span{
    font-weight: bold;
}

#user_table thead th span:hover{
    cursor: pointer;
}

.center{
    text-align: center;
}


#valide{
    margin: auto 1em; !important;
}

input[type=checkbox]{
    cursor: pointer;
    width: 1.5em !important;
    height: 1.5em !important;
    font-size: 1em;
}

label[for=valide]{
    font-size: 1.5em;
}

input[type=checkbox]:checked{
    font-size: 1em;
}

#add_user_button{
    color: #389526;
}

.btn{
    background: none;
    padding: 0;
    text-align: center;
    font-size: 2em;
    width: 2em;
    font-weight: 900;
}

#user_add_form .btn{
    border: none;
}

#cancel_user_button{
    color: red;
}

#user_add_form tr,#user_add_form td,#user_add_form th{
    padding: 0;
    border: none;
}

#user_add_form th{
    text-align: center;
}


#user_add_form input[type=submit]{
    background: none;
}

#user_add_form{
    padding: 1em;
    border-bottom: 5px solid black;
}

.custom_msg
{
    margin: 1em; !important;
    background: rgba(255, 0, 0, 0.65);
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
}
#user_add_form td{
    height: 1px; !important;
}

#user_add_form th{
    font-weight: bold;
    text-transform: capitalize;
    padding: 5px;
    height: 1px; !important;
}

#user_add_form table{
    border: none;
}

#user_add_form input[type=checkbox]{
    font-size: 2em;
}
#user_add_form input,
#user_add_form select{
    width: 100%;
    margin: 0 ;
    height: -webkit-fill-available;
    padding: 5px;
    background: white;
}

#user_add_form table{
    border-collapse:separate;
    border-spacing: 3px 1em; !important;
}


input .borderRed{
    border: 1px solid red;
}

input .borderGreen{
    border: 1px solid green;
}

.th_div{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.th_div span{
    font-size: 1.5em;
    margin-right: 5px;
    text-transform: capitalize;
}

#user_table thead th{
    padding: 5px; !important;
}

#user_table thead th{
    height: 1px; !important;
    padding: 5px; !important;
}

.th_div > select{
    margin: 0;
}

.action_bar{
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: center;
    text-align: center;
    border-bottom: 5px solid black;
}

.action_bar input[type=submit]{
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #C4C4C4;
}

.action_bar > *{
    padding: 0;
    margin: 0 5px 0 5px;
    height: 100%;
}

.centerbox{
    margin: auto 0;
}

.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
