@font-face {
    font-family: Inter;
    src: url("/views/css/fonts/Inter/static/Inter-Regular.ttf");
}

*
{
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

input:focus{
    outline: none;
}

.flex-center{

    display: flex;
    flex-direction: column;
    flex: max-content;
    justify-content: center;
    align-items: center;
}

.divider{
    height: auto;
    background: black;
    margin-left: 1em;
    margin-right: 1em;
    width: 3px;
}

input{
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 15px;
}

.container #container_main_content{
    display: flex;
    flex-grow: 1;
    margin-top: 1em;
    margin-bottom: 1em;
}
.navbar-footer-content
{
    color: #ffffff;
    height: 64px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content
{
    background: #419932;
}

.footer-content
{
    background: #000000;;
}

.navbar-link
{
    text-align: center;
    font-size: 24px;
}

.navbar-left .navbar-link
{
    margin-left: 25px;
}

.navbar-right .navbar-link
{
    margin-right: 25px;
}

.navbar-title
{
    font-size: 36px;
    font-weight: 300;
    position: relative;
}

.footer
{
    margin-top: auto;
    width: 100%;
}

.footer-copyright
{
    margin-left: 25px;
    font-size: 24px;
}

.footer-right img
{
    width: 40px;
    margin-right: 15px;
}

nav a,button
{
    text-decoration: none;
    color: #ffffff;
}

nav button:hover,a:hover
{
    color: #dddddd;
}

.errorMsg
{
    background: rgba(255, 0, 0, 0.65);
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
}

.hide{
    display: none;
}

h1
{
    font-weight: bold;
    margin: 0;
}