.createSalle{
	display: flex;
	justify-content: space-between;
}

.options{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.option{
	margin-right: 20px;
}

.btn{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}