.item{
    text-align: center;
}

.button-nav{
  margin-right: 10px;
  padding: 5px;
  height: 50px;
  width: 50px;
}

.button-liste{
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 32px;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}