.dash_container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.dashboard-left-part{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.dashboard-right-part{
    display: flex;
    margin-left: 1em;
    flex-grow: 1;
}

.dashboard_choices{
    padding: 1em;
}

.dashboard_choices a.active{
    font-weight: bold;
}

.dashboard_choices a{
    padding: 2px;
    font-size: 1.5em;
    color: black;
}

.dashboard_choices a:link{
    text-decoration: none;
}

.dashboard_choices a:hover{
    text-decoration: none;
    cursor: pointer;
    color: rgba(0,0,0,0.2);
}

.dashboard-infos{
    margin-top: 1em;
    flex-grow: 1;
}

.dashboard-infos-title{
    margin-bottom: 1em;
}

.dashboard-infos > p{
    overflow: scroll;
}

.shadow-box{
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: #FFFFFF;
    box-shadow: 0 0 80px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}