.center-box
{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.25);
    padding: 1em;
    width: 50%;
    flex-grow: 1;
}

.center-box h1{
    text-align: center;
    margin: 0.5em;
}

.split-2{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.home_part .justify-text{
    text-align: justify;
}

.home_part h2{
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 1em 0;
}

.home_part img {
    float: left;
    height: 5em;
    object-fit: cover;
    margin-right: 1em;
}

#homepage{
    margin: 3em 0;
}