
.form_wrapper{
    width: 100%;
    padding: 2em 10% 2em 10%;
    display: flex;
    flex-direction: column;
}

.custom_form{
    display: flex;
    flex-direction: column;
}

.form_label{
    display: flex;
    flex-direction: column;
}
.form_label label{
    font-style: normal;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.form_content h1{
    text-align: center;
    font-size: 2em;
}
.custom_form input,select{
    height: 2.5em;
    margin-bottom: 1em;
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
}

.custom_form input[placeholder]{
    padding: 5px;
}

.custom_form input[type=submit]{
    background: #419932;
    color: #FFFFFF;
    margin-top: 1em;
    border: none;
}

.custom_form input[type=submit]{
    background: #419932;
    color: #FFFFFF;
    margin-top: 1em;
    border: none;
}
.custom_form input[type=submit]:hover{
    background: #4da62e;
    cursor: pointer;
}
.bottom_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom_form a{
    color: #419932;
}

.wrapper{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.25);
}

#user_role {
    width: 100%;
}