.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.offre{
    display: flex;
    justify-content: center;
}

.button-nav{
    margin-right: 10px;
    padding: 5px;
    height: 50px;
    width: 50px;
}

#titre{
    margin-top: 10px;
}

#container{
    width: 100%;
}

#empty_list{
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}