.hidden {
    display: none;
}

.center-box {
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.25);
    padding: 1em;
    margin: 15px;
    justify-content: center;
    text-align: center;
}

.bubble {
    position: absolute;
    padding: 5px;
    background: rgb(243, 243, 243);
    border: solid black 1px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
}

#error, #planning {
    margin-top: 15px;
}

#errormessage {
    font-size: 1.5em;
    color: #f00;
}

/* table du planning */

#planning thead tr th, #planning tbody tr th, #planning tbody tr td {
    padding: 7px;
    font-size: 1.2em;
}

#planning tbody tr td {
    border-right: 1px solid #bbb;
}

thead {
    background: #ddd;
}

/* table des bulles */

.bubble table tr td {
    padding: 0px 7px;
    margin: 0px;
}

.supprimerentretien, .ajouterentretien {
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 1.2em;
}

.supprimerentretien {
    color: #f00;
}

.ajouterentretien {
    color: #0f0;
}

th {
    background: #ddd;
}

.full {
    color: #f00;
}

.notfull {
    color: #0f0;
}

.nobody {
    color: #555;
}

.bulleHeure {
    display: block;
}